!!! 5
%html
%head
	%title Rent

	= csrf_meta_tags

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Rent", root_path

	.container
		- Category.order(:name).each do |category|
			= link_to category.name, posts_path(category: category.name)
		= yield
